.popup-backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
}
.popup-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1501;
}
.popup-container .popup {
  position: absolute;
  top: 40%;
  left: 50%;
  background-color: #ffffff;
  color: black;
  width: 250px;
  margin-left: -125px;
  max-height: 50%;
  border-radius: 0;
}
.popup-container .popup .popup-title {
  text-align: center;
  padding: 13px 5px 10px 5px;
}
